<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Orders list</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <div class="header__container">
                    <a href="#" th:href="@{/}" class="header__logo"><img th:src="@{'/img/logo.svg'}" alt="logo" class="logo"></a>
                    <div class="header__menu menu">
                        <div class="menu__icon">
                            <span></span>
                        </div>
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}" class="menu__link">Show all users</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/products}" class="menu__link">Show all products</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/orders}" class="menu__link">Show all orders</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="menu__link">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="admin-order-table">
                <p class="admin-order-list__title">Orders list </p>
                <div class="admin-order__container" th:each="order : ${orderList}">
                    <div class="admin-order-row">
                        <span class="material-icons admin-order_click-btn">ads_click</span>
                        <div class="admin-order-id-tag">Id:</div>
                        <div th:text="${order.id}" class="admin-order-id"></div>
                        <div class="admin-order-row__btns">
                                <a th:href="@{/orders/details/{id}(id=${order.id})}" class="admin-info-btn__link"><span class="material-icons admin-info-btn">info</span></a>
                                <a th:href="@{/orders/delete/{id}(id=${order.id})}" class="admin-complete-order-btn__link"><span class="material-icons admin-complete-btn">done</span></a>
                        </div>
                    </div>
                    <div class="admin-order-info__container">
                        <div class="admin-order__date">
                            <div class="admin-order__date-tag">Order date:</div>
                            <div th:text="${order.orderDate}" class="admin-order__date-value  date-value"></div>
                        </div>
                        <div class="admin-order__email">
                                <div class="admin-order__email-tag">User email:</div>
                                <div th:text="${order.getUser().email}" class="admin-order__email-value"></div>
                        </div>
                        <div class="admin-order__sum">
                                <div class="admin-order__sum-tag">Order sum:</div>
                                <div th:text="${order.sum}" class="admin-order__sum-value"></div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer__content">
                    <div class="footer__logos">
                        <a href="#"><img th:src="@{'/img/mastercard-logo.svg'}" alt="mastercard" class="mastercard"></a>
                        <a href="#"><img th:src="@{'/img/visa-logo.svg'}" alt="visa" class="visa"></a>
                    </div>
                    <p>&copy; Internet shop &laquo;Grab&raquo; 2022-2023 </p>
                </div>
            </footer>
        </div>
    </div>
    <script th:src="@{'/js/index.js'}"></script>
</body>
</html>