<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Users list</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <div class="header__container">
                    <a href="#" th:href="@{/}" class="header__logo"><img th:src="@{'/img/logo.svg'}" alt="logo" class="logo"></a>
                    <div class="header__menu menu">
                        <div class="menu__icon">
                            <span></span>
                        </div>
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}" class="menu__link">Show all users</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/products}" class="menu__link">Show all products</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/orders}" class="menu__link">Show all orders</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="menu__link">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="users-table">
                <p class="users-list__title">Users list </p>
                <div class="user__container" th:each="user : ${listOfUsers}">
                    <div class="user-row">
                        <span class="material-icons ads_click-btn">ads_click</span>
                        <div class="user-id-tag">Id:</div>
                        <div th:text="${user.id}" class="user-id"></div>
                        <a th:href="@{/users/delete/{id}(id=${user.id})}" class="delete-btn__link"><span class="material-icons delete-btn">delete</span></a>
                    </div>
                    <div class="user-info__container">
                        <div class="user-first-last__name">
                            <div th:text="${user.firstName}"></div>
                            <div th:text="${user.lastName}" style="padding:0 5px"></div>
                        </div>
                        <div class = "user-email" th:text="${user.email}"></div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer__content">
                    <div class="footer__logos">
                        <a href="#"><img th:src="@{'/img/mastercard-logo.svg'}" alt="mastercard" class="mastercard"></a>
                        <a href="#"><img th:src="@{'/img/visa-logo.svg'}" alt="visa" class="visa"></a>
                    </div>
                    <p>&copy; Internet shop &laquo;Grab&raquo; 2022-2023 </p>
                </div>
            </footer>
        </div>
    </div>
    <script th:src="@{'/js/index.js'}"></script>
</body>
</html>