<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Order details</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <div class="header__container">
                    <a href="#" th:href="@{/}" class="header__logo"><img th:src="@{'/img/logo.svg'}" alt="logo" class="logo"></a>
                    <div class="header__menu menu">
                        <div class="menu__icon">
                            <span></span>
                        </div>
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}" class="menu__link">Show all users</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/products}" class="menu__link">Show all products</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/orders}" class="menu__link">Show all orders</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="menu__link">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="admin-order-table">
                <p class="admin-order-list__title">Order details </p>
                <div class="admin-products__container" th:each="item : ${items}">
                    <div class="admin-order-row" style="justify-content:space-between;">
                        <span class="material-icons admin-products_click-btn">ads_click</span>
                        <div style="display:flex; margin-right: 15px;">
                            <div class="admin-order-id-tag">Id:</div>
                            <div th:text="${item.id}" class="admin-order-id"></div>
                        </div>
                    </div>
                    <div class="admin-product-info__container" style="font-size: 14px">
                        <div class="admin-order__product-id">
                            <div class="admin-order__product-id-tag">Product id:</div>
                            <div th:text="${item.productId}" class="admin-order__product-id-value"></div>
                        </div>
                        <div class="admin-order__user-id">
                            <div class="admin-order__user-id-tag">User id:</div>
                            <div th:text="${item.userId}" class="admin-order__user-id-value"></div>
                        </div>
                        <div class="admin-product__name">
                            <div class="admin-product__name-tag">Name:</div>
                            <div th:text="${item.name}" class="admin-product__name-value"></div>
                        </div>
                        <div class="admin-product__desc">
                                <div class="admin-product__desc-tag">Description:</div>
                                <div th:text="${item.description}" class="admin-product__desc-value"></div>
                        </div>
                        <div class="admin-order-datails__price">
                                <div class="admin-order__price-tag">Price:</div>
                                <div th:text="${item.price}" class="admin-order-details__price-value"></div>
                        </div>
                        <div class="admin-order-datails__amount">
                            <div class="admin-order__amount-tag">Amount:</div>
                            <div th:text="${item.amount}" class="admin-order-details__amount-value"></div>
                         </div>
                        <div class="admin-order-datails__total-price">
                            <div class="admin-order__total-price-tag">Total price:</div>
                            <div th:text="${item.price*item.amount}" class="admin-order-details__total-price-value"></div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer__content">
                    <div class="footer__logos">
                        <a href="#"><img th:src="@{'/img/mastercard-logo.svg'}" alt="mastercard" class="mastercard"></a>
                        <a href="#"><img th:src="@{'/img/visa-logo.svg'}" alt="visa" class="visa"></a>
                    </div>
                    <p>&copy; Internet shop &laquo;Grab&raquo; 2022-2023 </p>
                </div>
            </footer>
        </div>
    </div>
    <script th:src="@{'/js/index.js'}"></script>
</body>
</html>