<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>My orders</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <div class="header__container">
                    <a href="#" th:href="@{/}" class="header__logo"><img th:src="@{'/img/logo.svg'}" alt="logo" class="logo"></a>
                    <div class="header__menu menu">
                        <div class="menu__icon">
                            <span></span>
                        </div>
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/cart/show}" class="menu__link">Shopping cart</a></li>
                                <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/orders/show}" class="menu__link">My orders</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="menu__link">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="user-orders">
                <div class="user-orders__text">
                    <p class="ol__title">Your order list</p>
                    <p class="ol__subtitle">You can see here your orders that are in the process! When you receive an order, it will no longer be displayed here.</p>
                </div>
                <div class="order-list__table">
                    <div th:each="order : ${orders}" class="order-info__container">
                        <div class="order-date">
                            <p>Order date: </p>
                            <div th:text="${order.orderDate}" class="date-value"></div>
                        </div>
                        <div class="order-sum">
                            <p>Order sum: </p>
                            <div th:text="${order.sum}"></div>
                        </div>
                        <a class="order-btn-link" th:href="@{/user/orders/details/{id}(id=${order.id})}"><button class="order-btn">Review</button></a>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer__content">
                    <div class="footer__logos">
                        <a href="#"><img th:src="@{'/img/mastercard-logo.svg'}" alt="mastercard" class="mastercard"></a>
                        <a href="#"><img th:src="@{'/img/visa-logo.svg'}" alt="visa" class="visa"></a>
                    </div>
                    <p>&copy; Internet shop &laquo;Grab&raquo; 2022-2023 </p>
                </div>
            </footer>
        </div>
    </div>
    <script th:src="@{'/js/index.js'}"></script>
</body>
</html>